@page
@model Book_rental.Pages.Publications.IndexModel

@{
    ViewData["Title"] = "Index";
}
<body>
    <div class="text-center">
        <!--code to keep the heading in the center-->
        <header>
            <!--z-index code to display image on thePublication page behind the text-->
            <style>
                img {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: -1;
                }
            </style>
        </header>
        <img src="~/Images/pbimage.jpg" height=" 850" weight="800" />

        <!--code to increse the size of heading and to change its color, also to make it bold-->
        <h1 class="display-4"><b><p style="color:brown;">PUBLICATIONS' DATA</b></p></h1>
    </div>
    </body>


    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th><!--code to increse the size of heading and to change its color t-->
                    <h1 class="display-5"><p style="color:black;">
                       Books Copies<!--code to remove the underscore from Books copies to make it look nice-->
                    </h1>
                    </p>
                </th>
                <th>
                    <!--code to increse the size of heading and to change its color t-->
                    <h1 class="display-5"><p style="color:black;">

                     Publisher detail<!--code to remove the underscore from Publisher details to make it look nice-->
                        </h1>
                    </p>
                </th>
                <th>
                    <!--code to increse the size of heading and to change its color t-->
                    <h1 class="display-5">
                      <p style="color:black;">
                            Books detail<!--code to remove the underscore from Books detail to make it look nice-->
                          </h1>
                    </p>
                          </th>   
                          
                <th></th>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.Publication_detail)
                    {
                <tr>
                    <td>
                        <!--code to make the text bold and to change its color -->
                        <b>
                            <p style="color:black;">
                                @Html.DisplayFor(modelItem => item.Books_Copies)
                                </p>
                                </b>
                       
                    </td>
                    <td>
                        <!--code to make the text bold and to change its color -->
                        <b>
                            <p style="color:black;">
                                @Html.DisplayFor(modelItem => item.Publisher_detail.Publisher_Name)
                                </p>
                            </b>
                    </td>
                    <td>
                        <!--code to make the text bold and to change its color -->
                        <b>
                            <p style="color:black;">
                                @Html.DisplayFor(modelItem => item.Books_detail.Tittle)
                                </p>
                            </b>
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
                </tbody>
    </table>
