@page
@model Book_rental.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!--code to keep the text in the center-->
<div class="text-center">
    <header>
        <!--z-index code to display image on the Author page behind the text-->
        <style>
            img {
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: -1;
            }
        </style>
    </header>
    <img src="~/Images/pblisherimage.jpg" height=" 800" weight="1000" />
    <!--code to increse the size of heading and to change its color also to bold it-->
    <h1 class="display-4"><b><p style="color:white;"> PUBLISHERS' DATA</b></h1></p>
</div>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Publisher Name<!--code to remove the underscore from Publisher name to make it look nice-->
            </th>
            <th>
                Mobile Number<!--code to remove the underscore from Mobile number to make it look nice-->
            </th>
            <th>
                Email Id<!--code to remove the underscore from Email.Id to make it look nice-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Publisher_detail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
